# SPDX-License-Identifier: Apache-2.0

TLS_CERT_FILE=./secrets/tls-cert.pem
TLS_KEY_FILE=./secrets/tls-key.pem
TURN_USERNAME_FILE=./secrets/turn-username
TURN_PASSWORD_FILE=./secrets/turn-password
TURN_REALM=turn.example.com
TURN_EXTERNAL_IP=203.0.113.10
